body{
    font-family: 'Source Serif Pro', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
}
p{
    color: #423c8c;
    font-size: 18px;
    font-weight: bold;
}
.name-color{
    color: rgb(95, 2, 218);
}
.first-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 30px;
}
.first-part img{
    margin-top: 30px;
    height: 350px;
    width: 90%;
}
.top-banner-image{
    border-radius: 10px solid red;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.hire-button{
   
    text-decoration: none;
    background-color: rgb(95, 2, 218);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.highlight-color{
    color: orangered;
}
.single-experience{
    box-shadow: 10px 10px 40px rgb(48, 73, 9);
    border-radius: 10px;
    height: 70%;
    background-color: white;

}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid !important;
    border-image: linear-gradient(rgb(70, 23, 4), orange );
    border-image-slice: 2;
}
footer p{
    text-align: center;
    font-size: 18px;
}